@import url('https://fonts.googleapis.com/css?family=Lobster+Two');

.col-4{
  height:550px;
  padding: 20px;
  position: fixed;
  overflow-y: auto;
  background-color: rgba(85, 61, 103, .5);
}
.col-4::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.col-4::-webkit-scrollbar
{
  width: 10px;
}
.col-4::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(169, 169, 169, .7);
}

.col-8{
  right: 0px;
  position: fixed;
  overflow-y: auto;
  padding: 20px;
  height: 550px;
  background-color: rgba(47, 47, 162, .4);
}
.col-8::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}
.col-8::-webkit-scrollbar
{
  width: 10px;
}
.col-8::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(255, 203, 154, .7);
}


